# Don't check in the local metadata file.
.DS_Store
.idea

# Don't check in the Emacs temp files
*~

# Don't check in test framework files
.attach_pid*

# Don't check IntelliJ module files
*.iml


# cedar-dafny build artifacts
cedar-dafny/.dotnet
cedar-dafny/.local
cedar-dafny/.nuget
cedar-dafny/build

# cedar-dafny-java-wrapper build artifacts
cedar-dafny-java-wrapper/build
cedar-dafny-java-wrapper/.gradle

# cedar-drt build artifacts
cedar-drt/target
cedar-drt/Cargo.lock

# cedar if checkout out in root dir
cedar/