# Don't check in the local metadata file.
.DS_Store
.idea

# Don't check in the Emacs temp files
*~

# Don't check in test framework files
.attach_pid*

# Don't check IntelliJ module files
*.iml


# cedar-dafny build artifacts
cedar-dafny/.dotnet
cedar-dafny/.local
cedar-dafny/.nuget

# cedar-dafny-java-wrapper build artifacts
cedar-dafny-java-wrapper/build

# cedar-drt build artifacts
cedar-drt/target