[package]
name = "cedar-policy-generators"
edition = "2021"
version = "2.0.0"
publish = false

[dependencies]
arbitrary = "1.3"
cedar-policy-core = { path = "../cedar/cedar-policy-core", version = "2.*", features = ["arbitrary"] }
cedar-policy-validator = { path = "../cedar/cedar-policy-validator", version = "2.*", features = ["arbitrary"] }
clap = { version = "4.3.16", features = ["derive"] }
highway = "0.8.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
smol_str = "0.2"
rand = "0.8.5"
anyhow = "1.0.72"
