name: Build cedar-spec

on:
  push:
  pull_request:

env: 
  dotnet-version: 6.0.x # SDK Version for building Dafny

jobs:
  build_and_test_dafny:
    name: Dafny Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - name: Download Dafny
        shell: bash
        run: wget https://github.com/dafny-lang/dafny/releases/download/v4.0.0/dafny-4.0.0-x64-ubuntu-20.04.zip
      - name: Unzip Dafny
        shell: bash
        run: unzip dafny-4.0.0-x64-ubuntu-20.04.zip
      - name: Add Dafny to PATH
        shell: bash
        run: echo "export PATH=$PATH:$(pwd)/dafny" >> ~/.bashrc && echo $(pwd)
      - name: Checkout
        uses: actions/checkout@v3
      - name: print path
        working-directory: ./cedar-dafny
        run: echo $PATH
      - name: print curr folder
        run: ls
      - name: print dafny folder
        working-directory: ./dafny
        run: ls
      - name: verify dafny
        working-directory: ./cedar-dafny
        run: make verify
      - name: test dafny
        working-directory: ./cedar-dafny
        run: make test


  build_and_test_dafny_wrapper:
    name: cedar-dafny-java-wrapper build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build cedar-dafny-java-wrapper
        working-directory: ./cedar-dafny-java-wrapper
        shell: bash
        run: ./gradlew

  
  build_and_test_drt:
    name: Cedar-DRT Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    
    steps:
      - name: Checkout cedar-spec
        uses: actions/checkout@v3
      - name: Checkout cedar
        uses: actions/checkout@master
        with:
          name: cedar-policy/cedar
          ref: refs/heads/main
      - name: rustup
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: cargo fmt
        working-directory: ./cedar-drt
        run: cargo fmt --all --check
      - name: cargo rustc
        working-directory: ./cedar-drt
        run: cargo --verbose rustc -- -D warnings -F unsafe-code
      - name: cargo test
        working-directory: ./cedar-drt
        run: cargo test --verbose

